/*HEADER*/
.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  background: white;
  border-bottom: 3px double #995D1A; }

.logo img {
  width: 12em;
  height: auto;
  justify-content: center;
  margin-left: 2em; }

.navbar {
  display: block;
  text-align: center;
  margin-right: 2em; }
  .navbar a {
    display: block;
    padding: 8px 20px;
    color: #995D1A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; }
    .navbar a:hover, .navbar a:focus {
      background: #995D1A;
      color: white;
      transition: background-color .3s ease-out;
      outline: 0; }

.main-contacto {
  background: white;
  color: #995D1A;
  line-height: 1.6;
  padding: 0 1.5em; }

/*FOOTER*/
.contenedor-footer {
  background-color: white;
  width: 100%;
  padding-bottom: 2em;
  padding-top: 10px;
  text-align: center;
  border-top: 3px double #995D1A; }
  .contenedor-footer .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px; }
    .contenedor-footer .contenido-seccion .fila {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: space-around; }
      .contenedor-footer .contenido-seccion .fila .col {
        margin-top: 1em; }
        .contenedor-footer .contenido-seccion .fila .col h2 {
          font-size: 1.3em;
          color: black; }
          .contenedor-footer .contenido-seccion .fila .col h2 a {
            text-decoration: none;
            color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway; }

/*MAIN EXPERIENCIAS*/
.contenedor-experiencias {
  background: #995D1A;
  display: flex;
  height: auto;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
  padding-bottom: 1em; }
  .contenedor-experiencias .titulos-generales {
    color: white; }

#experiencias-generales {
  margin-top: 2em;
  list-style: none; }
  #experiencias-generales h3 {
    margin-top: 1em; }

.items {
  margin-top: .5em;
  padding-left: 2.5em;
  line-height: 1.3em;
  list-style: disc; }

/*MAIN COMODIDADES*/
.contenedor-comodidades {
  background: #995D1A;
  display: flex;
  height: auto;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  text-align: left; }
  .contenedor-comodidades .titulos-generales {
    color: white; }

.casas .textos-informativos {
  margin-top: 1em; }

.comodidades {
  display: flex;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .5em; }

/*MAIN IMAGENES*/
.contenedor-imagenes {
  background: #995D1A;
  display: flex;
  height: auto;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em; }
  .contenedor-imagenes .titulos-generales {
    color: white; }

.recipiente {
  padding-top: 2em;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr; }
  .recipiente .box-imagen img {
    width: 100%;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em; }

/*MAIN CONTACTO*/
.titulos-generales {
  text-align: center;
  font-size: 3em;
  color: #995D1A;
  font-family: Courgette;
  margin-top: 20px; }

.titulo-contacto {
  text-align: center;
  font-size: 3em;
  color: #995D1A;
  font-family: Courgette; }

.tarjeta-contacto {
  margin-bottom: 2em; }

.tarjeta-contacto > * {
  padding: 1em; }

.formulario-contacto {
  background: #222222; }
  .formulario-contacto h3 {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 0; }
  .formulario-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .formulario-contacto form label {
      display: block; }
    .formulario-contacto form p {
      margin: 0;
      padding: 1em; }
    .formulario-contacto form .block {
      grid-column: 1 / 3; }
    .formulario-contacto form button, .formulario-contacto form input, .formulario-contacto form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #995D1A; }
    .formulario-contacto form button {
      background: #995D1A;
      border: 0;
      text-transform: uppercase;
      padding: 1em; }
      .formulario-contacto form button:hover, .formulario-contacto form button:focus {
        background: red;
        color: white;
        transition: background-color 1s ease-out;
        outline: 0; }

/*INICIO*/
.contenedor-principal {
  background: url(/imagenes/fondo-01.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  height: auto !important;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedor-principal .textos-informativos {
    margin-top: 20px;
    margin-bottom: 1em;
    font-size: 20px;
    color: white;
    padding: 0 10%;
    text-align: center; }

.titulos-generales {
  text-align: center;
  font-size: 3em;
  color: #995D1A;
  font-family: Courgette; }

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #995D1A; }
  .btn:hover {
    background: red;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0; }

.btn-home {
  margin-bottom: 2em; }
  .btn-home a {
    margin: 0 10px; }

.contenedor-ubicacion {
  background: white;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #995D1A; }
  .contenedor-ubicacion .titulos-generales {
    color: white; }
  .contenedor-ubicacion .textos-secundarios .textos-informativos {
    margin-top: 20px;
    margin-bottom: 1em;
    font-size: 20px;
    color: black;
    padding: 0 10%;
    text-align: center; }

.map {
  margin-bottom: 1em; }

/*INFORMACION CONTACTO*/
.informacion-contacto {
  background: #995D1A;
  color: white; }
  .informacion-contacto ul {
    list-style: none;
    padding: 0; }
  .informacion-contacto h4, .informacion-contacto ul, .informacion-contacto p {
    text-align: center;
    margin: 0 0 1rem 0; }

/*PANTALLA GRANDE*/
@media (min-width: 700px) {
  /*HEADER*/
  .logo img {
    width: 12em;
    height: auto;
    justify-content: center;
    margin-left: 4em;
    margin-top: .5em; }
  .navbar {
    display: flex;
    margin-right: 4em;
    text-align: center; }
    .navbar a {
      display: block;
      padding: 10px 10px;
      color: #995D1A;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold; }
  /*MAIN*/
  /*INDEX*/
  .contenedor-principal {
    background: url(/imagenes/fondo-01.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    height: auto !important;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedor-principal .textos-informativos {
      margin-top: 20px;
      margin-bottom: 1em;
      font-size: 20px;
      color: white;
      text-align: center; }
  .contenedor-ubicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    height: auto; }
    .contenedor-ubicacion .textos-secundarios {
      width: 700px;
      margin-left: 3.5em; }
      .contenedor-ubicacion .textos-secundarios .textos-informativos {
        color: black;
        text-align: center; }
    .contenedor-ubicacion .map {
      margin: 1em 3.5em 1em 2em; }
  /*COMODIDADES*/
  .contenedor-comodidades {
    display: flex;
    height: auto;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 5em;
    font-size: 20px; }
  .casas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-left: 2em; }
    .casas .textos-informativos {
      padding-right: 2em; }
  .titulos-generales .casas .comodidades {
    margin-top: 2em !important; }
  .areas-comunes {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-left: 2em; }
    .areas-comunes .textos-informativos {
      padding-right: 3em; }
  .comodidades {
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 200px;
    margin-left: .5em;
    border-radius: .5em; }
  .restaurante {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-left: 2em; }
    .restaurante .textos-informativos {
      padding-right: 2em; }
  .rio {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: left; }
    .rio .textos-informativos {
      padding: 2em; }
  /*EXPERIENCIAS*/
  #experiencias-generales {
    display: grid;
    justify-content: space-around; }
  .items {
    line-height: 1.8em;
    width: 650px; }
  /*IMAGENES*/
  .recipiente {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em; }
    .recipiente .box-imagen img {
      width: 300px;
      height: 170px;
      border-radius: .5em;
      margin-bottom: 1.5em; }
  /*CONTACTO*/
  .main-contacto {
    padding: 0 4em; }
  .tarjeta-contacto {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .tarjeta-contacto > * {
    padding: 2em; }
  /*FOOTER*/
  .contenedor-footer .contenido-seccion .fila {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 2em;
    padding-bottom: 2em; } }
