/*BODY-FOOTER*/
.contenedor-footer {
    background-color: white;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 10px;
    text-align: center;
    border-top: 3px double #995D1A;
    .contenido-seccion {
        max-width: 1000px;
        margin: auto;
        padding: 0 10px;
        .fila {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: space-around;
            .col {
                margin-top: 1em;
                h2 {
                    font-size: 1.3em;
                    color: black;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}




