/*INFO CONTACTO*/
.informacion-contacto {
    background: #995D1A;
    color: white;
    ul {
        list-style: none;
        padding: 0;
    }
    h4, ul, p {
        text-align: center;
        margin: 0 0 1rem 0;
    }
}
