/*MAIN-INICIO*/
.contenedor-principal {
    background: url(/imagenes/fondo-01.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    height: auto !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .textos-informativos{
        margin-top: 20px;
        margin-bottom: 1em;
        font-size: 20px;
        color: white;
        padding: 0 10%;
        text-align: center;
    }
}
.titulos-generales {
    text-align: center;
    font-size: 3em;
    color: #995D1A;
    font-family: Courgette;
}
.btn{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 2%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #995D1A;
    &:hover {
        background: red;
        color: white;
        transition: background-color 1s ease-out;
        outline: 0;
    }
}
.btn-home{
    margin-bottom: 2em;
    a {
        margin: 0 10px;
    }
}
.contenedor-ubicacion {
    background: white;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #995D1A;
    .titulos-generales {
        color: white;
    }
    .textos-secundarios {
        .textos-informativos {
            margin-top: 20px;
            margin-bottom: 1em;
            font-size: 20px;
            color: black;
            padding: 0 10%;
            text-align: center;
        }
    }
}
.map{
    margin-bottom: 1em;
}